Package              Version
-------------------- -------------
asgiref              3.6.0
Babel                2.12.1
bitcoin              1.1.42
certifi              2022.12.7
cffi                 1.15.1
charset-normalizer   3.1.0
coverage             7.2.3
crispy-bootstrap5    0.7
cryptography         40.0.1
Django               4.2
django-crispy-forms  2.0     
django-extensions    3.2.1 
django-filter        23.1
django-money         3.0.0
django-widget-tweaks 1.4.12
djangorestframework  3.14.0
future               0.18.3
idna                 3.4
Markdown             3.4.3
MarkupSafe           2.1.2
pip                  22.3.1
py-moneyed           2.0
pycoin               0.92.20230326
pycparser            2.21
pyOpenSSL            23.1.1
pytz                 2023.3
requests             2.28.2
setuptools           65.5.1
sqlparse             0.4.3
transaction          3.1.0
transactions         0.2.0
typing_extensions    4.5.0
tzdata               2023.3
urllib3              1.26.15
Werkzeug             2.2.3
wheel                0.38.4
zope.interface       6.0
